.fa-car-wash, .fa-shuttle-van {
    color: rgb(255, 145, 0);
}


#mainImg {
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    filter: brightness(0.7);    
}

.fa-check {
    color: rgb(86, 216, 86);
}

.premiumCheck, .fa-stars {
    color: rgb(253, 187, 19);
}

.carBasic {
    color: rgb(255, 210, 137);
}


#accordionFlushExample {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.iconPremium {
    
    width: 150px;
    height: auto;
}

.expandPremium {
    color: black;
}

#accordionExample {
   
}

.iconImg {
    height: 32px;
    margin-right: 10px;
}