
#mainImg {
    object-fit: cover;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    filter: brightness(0.7);    
}


.fa-stars {
    color: rgb(253, 187, 19);
}

.iconPremium {    
    width: 150px;
    height: auto;
}

.expandPremium {
    color: black;
}

.accordion {
    max-width: 1000px;
}

.accordion-button {
    background-color: white;
}

/* .detailText {
    padding: 10px 0 10px 0
} */

.h2 {
    font-size: 2.0rem;
    font-weight: 500!important;
}

.accordion-button:focus {
    background-color: rgb(241, 186, 67);
    border-color:rgb(255, 174, 0);
    box-shadow: 0 0 0 0.25rem aliceblue;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(241, 186, 67);
}

.iconImg {
    height: 32px;
    margin-right: 10px;
}

.display-6 {
    font-size: 1.6rem
}

.display-4, .display-3 {
    font-size: 2.0rem;
    font-weight: 500!important;
}

.basicCard {
    background-image: linear-gradient(#c3d6db, #acbdcc);
    color: white
}

.premiumCard {
    background-image: linear-gradient(#757575, #444341);
    color: white;
}

.detailCard {
    background-image: linear-gradient(#FFB714, #f89735);
    color: white
}

@media only screen and (max-width: 768px) {
.display-6 {
    font-size: 1.2rem;
}
.display-4, .display-3 {
    font-size: 2.0rem;
    font-weight: 500!important;
}

.h4 {
    font-weight: 400;
}

}